* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.example-app {
  &-header {
    height: 64px;
    &-layout {
      height: 64px;
    }
    &-aside {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 25%;
      flex: 1;
      .name {
        margin-left: 16px;
        font-size: 18px;
        color: #333333;
        font-weight: bold;
      }
    }
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 75%;
      flex: 3;
    }
  }
  &-aside {
    padding: 20px 10px;
    border-right: 1px solid #eee;
    max-width: 25%;
    flex: 1;
    & div {
      background: #52a9f5;
      color: #ffffff;
      margin-bottom: 20px;
      padding: 6px 40px;
      border-radius: 8px;
      text-align: center;
      &.example-app-selected {
        background: #0e76cc;
        font-weight: bold;
      }
    }
  }
  &-content {
    padding: 20px;
    max-width: 75%;
    flex: 3;
  }
}