pre {
    font-family: sans-serif;
    background: #1f1f1f !important;
    border-radius: 4px;
    padding: 4px 8px;
    overflow: auto;
    .lineNum {
        display: inline-block;
        min-width: 28px;
        color: #ccc;
        user-select: none;
    }
}