.quickStart {
  &-components {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    &-item {
      border-radius: 8px;
      background: #ffffff;
      width: 200px;
      border: 1px solid #eeeeee;
      &-header {
        min-height: 38px;
        padding: 0 12px;
        font-weight: bold;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        align-items: center;
      }
      &-body {
        padding: 16px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 152px;
        gap: 12px;
        flex-direction: column;
      }
    }
  }
}